@model IEnumerable<dynamic>

<!-- Trending Top -->
<div class="trending-top mb-30">
    <div class="trend-top-img">
        <img src="https://nhanvanschool.edu.vn/images/a.png" alt="Đề thi nổi bật">
        <div class="trend-top-cap">
            <span>Đề thi nổi bật</span>
            <h2><a href="exam-details.html">Đề thi Toán Học giữa kỳ lớp 10</a></h2>
        </div>
    </div>
</div>

<!-- Trending Bottom -->
<div class="trending-bottom">
    <div class="row">
        <div class="col-lg-4">
            <div class="single-bottom mb-35 exam-card">
                <div class="trend-bottom-img mb-30">
                    <img src="https://nhanvanschool.edu.vn/images/a.png" alt="Toán học">
                </div>
                <div class="trend-bottom-cap">
                    <span class="color1">Toán</span>
                    <h4><a href="exam-details.html">Ôn tập chương 1: Hàm số và đồ thị</a></h4>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="single-bottom mb-35 exam-card">
                <div class="trend-bottom-img mb-30">
                    <img src="https://nhanvanschool.edu.vn/images/a.png" alt="Vật lý">
                </div>
                <div class="trend-bottom-cap">
                    <span class="color2">Vật lý</span>
                    <h4><a href="exam-details.html">Bài tập cơ học lớp 10</a></h4>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="single-bottom mb-35 exam-card">
                <div class="trend-bottom-img mb-30">
                    <img src="https://nhanvanschool.edu.vn/images/a.png" alt="Tiếng Anh">
                </div>
                <div class="trend-bottom-cap">
                    <span class="color3">Tiếng Anh</span>
                    <h4><a href="exam-details.html">Ôn từ vựng Unit 6-8</a></h4>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4">
            <div class="single-bottom mb-35 exam-card">
                <div class="trend-bottom-img mb-30">
                    <img src="https://nhanvanschool.edu.vn/images/a.png" alt="Toán học">
                </div>
                <div class="trend-bottom-cap">
                    <span class="color1">Toán</span>
                    <h4><a href="exam-details.html">Ôn tập chương 1: Hàm số và đồ thị</a></h4>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="single-bottom mb-35 exam-card">
                <div class="trend-bottom-img mb-30">
                    <img src="https://nhanvanschool.edu.vn/images/a.png" alt="Vật lý">
                </div>
                <div class="trend-bottom-cap">
                    <span class="color2">Vật lý</span>
                    <h4><a href="exam-details.html">Bài tập cơ học lớp 10</a></h4>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="single-bottom mb-35 exam-card">
                <div class="trend-bottom-img mb-30">
                    <img src="https://nhanvanschool.edu.vn/images/a.png" alt="Tiếng Anh">
                </div>
                <div class="trend-bottom-cap">
                    <span class="color3">Tiếng Anh</span>
                    <h4><a href="exam-details.html">Ôn từ vựng Unit 6-8</a></h4>
                </div>
            </div>
        </div>
    </div>

    <div class="pagination-area pb-45 text-center">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="single-wrap d-flex justify-content-center">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-start">
                                <li class="page-item"><a class="page-link" href="#"><span
                                            class="flaticon-arrow roted"></span></a></li>
                                <li class="page-item active"><a class="page-link" href="#">01</a></li>
                                <li class="page-item"><a class="page-link" href="#">02</a></li>
                                <li class="page-item"><a class="page-link" href="#">03</a></li>
                                <li class="page-item"><a class="page-link" href="#"><span
                                            class="flaticon-arrow right-arrow"></span></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>