body {
    background-color: #f8f9fa;
}

.card {
    border-radius: 10px;
}

.card-header {
    font-weight: bold;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0069d9;
    border-color: #0062cc;
}

.lg{
    color: black;
    font-weight: 500;
}

.lg:hover{
    color: #0062cc;
    text-decoration: underline;
}