@model IEnumerable<dynamic>

<section class="whats-news-area pt-50 pb-20">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                
                <!-- End Tab Content -->
            </div>
        </div>
    </div>
</section>