<div class="row">
                    <div class="col-12">
                        <div class="weekly-news-active dot-style d-flex">
                            @foreach (var exam in Model)
                            {
                                <div class="weekly-single exam-card">
                                    <div class="weekly-img">
                                        <img src="@(exam.Image ?? "/images/default-exam.png")" 
                                            alt="@exam.ExamName" 
                                            loading="lazy" 
                                            onerror="this.onerror=null;this.src='/images/default-exam.png';" />
                                    </div>
                                    <div class="weekly-caption">
                                        <span class="color1">@exam.SubjectId</span>
                                        <h4>
                                            <a href="/Exam/Details/@exam.ExamId">@exam.ExamName</a>
                                        </h4>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>